<html>
  <head>
    <title>Generate Hash</title>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/assets/md5.js"></script>
    <script src="/assets/hash.js"></script>
    <script src="/assets/hash-page.js"></script>
  </head>
  <body>
    <div id="todo-table">
      <p><a href='/dev'>Back</a></p>
      <h2>Hash Generator</h2>
      <form>
        <input type='password' placeholder='Password-to-hash' required>
        <button>Hash</button>
      </form>
      <p class='hash'>Result: </p>
    </div>
  </body>
</html>
