<html>
  <head>
    <title>Event Edit Home</title>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="/assets/md5.js"></script>
    <script src="/assets/login.js"></script>
  </head>
  <body>
    <div id="todo-table">
      <form>
        <input name='login' type='text'>
        <input placeholder='(required) Personal ID' type="password" name="pword" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
        <button type='button'>Login</button>
      </form>
    </div>
  </body>
</html>
